{% extends 'base.html.twig' %}
{% block title %}Qui sommes nous
{% endblock %}
{% block content %}
	<h1 class="text-center mt-5">Qui sommes-nous?</h1>
	{% for team in teams %}
		<div class="row">
			<div class="col-12 team-block">
				<h2 class="featurette-heading">{{ team.name }}<br>
					<span class="text-muted">{{ team.role }}</span>
				</h2>
				<img src="/uploads/{{ team.illustration }}" class="mb-2 team-picture imgzoom " alt="Photo {{ team.name }}">
				<p class="lead">{{ team.description }}</p>

				<img src="/uploads/{{ team.gallery }}" class="mb-2 team-picture imgzoom" alt="Photo descriptive {{ team.name }} 1">

				<img src="/uploads/{{ team.gallery2 }}" class="mb-2 team-picture imgzoom" alt="Photo descriptive {{ team.name }} 2">

				<img src="/uploads/{{ team.gallery3 }}" class="mb-2 team-picture imgzoom" alt="Photo descriptive {{ team.name }} 3">

			</div>
		</div>
		<hr class="featurette-divider">

	{% endfor %}
{% endblock %}
