{% extends 'base.html.twig' %}

{% block title %}Comptabilité{% endblock %}

{% block content %}
    <h1 class="text-center">Comptabilité</h1>

    <!-- Formulaire d'entrée manuelle -->
    <button class="btn btn-success mt-5" type="button" data-toggle="collapse" data-target="#collapseForm" aria-expanded="false" aria-controls="collapseForm">
        Afficher le formulaire pour ajouter une nouvelle commande manuellement
    </button>
    <div class="collapse" id="collapseForm">
        <div class="row">
            <div class="col-md-6">
                {{ form_start(accountingForm) }}
                <div> {{ form_row(accountingForm.fullname) }}</div>
                <div> {{ form_row(accountingForm.product) }}</div>
                <div> {{ form_row(accountingForm.quantity) }}</div>
                <div> {{ form_row(accountingForm.saleDate) }}</div>
            </div>
            <div class="col-md-6">
                <div> {{ form_row(accountingForm.total) }}</div>
                <div> {{ form_row(accountingForm.carrier) }}</div>
                <div> {{ form_row(accountingForm.carrierPrice) }}</div>
                <div class="mt-5"> {{ form_row(accountingForm.submit) }}</div>
                {{ form_end(accountingForm) }}
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <!-- Colonne gauche internet -->
        <div class="col-sm">
            <h2 class="text-center text-light mt-5">Commande internet</h2>
            {% if users is not empty %}
                {% set sortedOrders = [] %}
                {% for user in users %}
                    {% set sortedOrders = sortedOrders|merge(user.orders) %}
                {% endfor %}
                {% set sortedOrders = sortedOrders|sort((a, b) => b.createdAt.timestamp - a.createdAt.timestamp) %}

                {% set currentMonth = null %}
                {% set totalMonthPrice = 0 %}
                {% set currentUserFullName = null %}

                {% for order in sortedOrders %}
                    {% set orderMonth = order.createdAt|date('F Y') %}
                    {% if currentMonth != orderMonth %}
                        {% if currentMonth is not null %}
                            <tr>
                                <td colspan="2"><strong>Total du mois</strong></td>
                                <td colspan="3"></td>
                                <td><strong>{{ (totalMonthPrice / 100)|number_format(2, ',', '.') }} €</strong></td>
                            </tr>
                            </tbody>
                            </table>
                        {% endif %}
                        <h4 class="mt-5  text-center">{{ orderMonth }}</h4>
                        <table class="table table-hover bg-light">

                            <thead>
                                <tr>
                                    <th>Acheteur</th>
                                    <th>Date</th>
                                    <th>Prix</th>
                                    <th>Produits Achetés</th>
                                    <th>ID</th>
                                    <th>Mode livraison</th>
                                    <th>Tarif total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% set totalMonthPrice = 0 %}
                                {% set currentUserFullName = null %}
                            {% endif %}
                            {% set previous_order_id = null %}
                            {% for orderDetail in order.orderDetails %}
                                <tr>
                                    <td>
                                        {% if currentUserFullName != order.user.getFullName() %}
                                            {{ order.user.getFullName() }}
                                            {% set currentUserFullName = order.user.getFullName() %}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if loop.first or order.id != previous_order_id %}
                                            {{ order.createdAt|date('d-m-Y') }}
                                        {% endif %}
                                    </td>
                                    <td>{{ (orderDetail.total / 100)|number_format(2, ',', '.') }} €</td>
                                    <td>{{ orderDetail.quantity }} X {{ orderDetail.product }}</td>
                                    <td>{{ order.id }}</td>
                                    <td>
                                        {% if loop.first or order.id != previous_order_id %}
                                            {{ order.carriername }} - {{ (order.carrierprice / 100)|number_format(2, ',', '.') }} €
                                        {% endif %}
                                    </td>
                                    {% set totalOrderPrice = orderDetail.total * orderDetail.quantity + order.carrierprice %}
                                    {% if loop.first or order.id != previous_order_id %}
                                        <td>{{ (totalOrderPrice / 100)|number_format(2, ',', '.') }} €</td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                </tr>
                                {% set totalMonthPrice = totalMonthPrice + totalOrderPrice %}
                                {% set previous_order_id = order.id %}
                            {% endfor %}
                            {% set currentMonth = orderMonth %}
                        {% endfor %}
                        <tr>
                            <td colspan="2"><strong>Total du mois</strong></td>
                            <td colspan="3"></td>
                            <td><strong>{{ (totalMonthPrice / 100)|number_format(2, ',', '.') }} €</strong></td>
                        </tr>
                    </tbody>
                </table>
            {% else %}
                <p>Aucune donnée à afficher.</p>
            {% endif %}
        </div>

<!-- Colonne droite manuelle -->
<div class="col-sm">
    <h2 class="text-center text-light mt-5">Commande Manuelle</h2>
    {% if manualOrders is not empty %}
        {% set sortedManualOrders = manualOrders|sort((a, b) => b.saleDate.timestamp - a.saleDate.timestamp) %}
        
        {% set currentMonth = null %}
        {% set totalMonthPrice = 0 %}
        
        {% for index, manualOrder in sortedManualOrders %}
            {% set orderMonth = manualOrder.saleDate|date('F Y') %}
            {% if currentMonth != orderMonth %}
                {% if currentMonth is not null %}
                    <tr>
                        <td colspan="2"><strong>Total du mois</strong></td>
                        <td colspan="2"></td>
                        <td><strong>{{ (totalMonthPrice)|number_format(2, ',', '.') }} €</strong></td>
                    </tr>
                    </tbody>
                    </table>
                {% endif %}
                <h4 class="mt-5 text-center">{{ orderMonth }}</h4> {# Déplacer le titre ici #}
                <table class="table table-hover bg-light">
                    <thead>
                        <tr>
                            <th>Acheteur</th>
                            <th>Date</th>
                            {# <th>Prix</th> #}
                            <th>Produits Achetés</th>
                            <th>Mode livraison</th>
                            <th>Tarif total</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% set currentMonth = orderMonth %} {# Mettre à jour le mois actuel #}
            {% endif %}
            <tr>
                <td>{{ manualOrder.fullname }}</td>
                <td>{{ manualOrder.saleDate|date('d-m-Y') }}</td>
                {# <td>{{ (manualOrder.total)|number_format(2, ',', '.') }} €</td> #}
                <td>{{ manualOrder.quantity }} X {{ manualOrder.product }}</td>
                <td>{{ manualOrder.carrier }} - {{ (manualOrder.carrierPrice)|number_format(2, ',', '.') }} €</td>
                <td>{{ (manualOrder.total + manualOrder.carrierPrice)|number_format(2, ',', '.') }} €</td>
            </tr>
            {% set totalMonthPrice = totalMonthPrice + manualOrder.total  + manualOrder.carrierPrice %}
        {% endfor %}
        {# Total du dernier mois #}
        {% if currentMonth is not null %}
            <tr>
                <td colspan="2"><strong>Total du mois</strong></td>
                <td colspan="2"></td>
                <td><strong>{{ (totalMonthPrice)|number_format(2, ',', '.') }} €</strong></td>
            </tr>
        {% endif %}
            </tbody>
        </table>
    {% else %}
        <p>Aucune donnée à afficher.</p>
    {% endif %}
</div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const marginBlockElement = document.querySelector('.marginBlock');
            const socialElement = document.querySelector('.social');
            marginBlockElement.classList.remove('marginBlock');
            socialElement.remove();
        });
    </script>
{% endblock %}