{% extends 'base.html.twig' %}
{% block carousel %}{% endblock %}

{% block content %}
<h1 class="text-center mt-5 mb-5">Acceuil</h1>
<div class="row acceuilStart justify-content-center ">
    <h3 class="text-center col-md-12">Produits à la Une !</h3>
    {% for product in products %}
    <div class="col-md-4 mt-5 text-center justify-content-center">
        {% include 'product/single_product.html.twig' %}
    </div>
    {% endfor %}
</div>

<hr class="featurette-divider">
{% for article in landingPage %}
<div class="row featurette">
    {% if loop.index is even %}
    <div class="col-md-5">
        <img class=" img-fluid mx-auto rounded" src="/uploads/{{ article.illustration }}"></img>
    </div>
    <div class="col-md-7">
        <h2> {{ article.title }}<br>
            <span class="text-muted">{{ article.subtitle }}</span>
        </h2>
        <p class="lead">{{ article.content }}</p>
        <a href="{{ path('app_team') }}" class="btn btn-info text-center font-weight-bold mt-2 mb-3">{{ article.btnTitle }}</a>
    </div>
    {% else %}
    <div class="col-md-7">
        <h2> {{ article.title }}<br>
            <span class="text-muted">{{ article.subtitle }}</span>
        </h2>
        <p class="lead">{{ article.content }}</p>
        <a href="{{ path('app_team') }}" class="btn btn-info text-center font-weight-bold mt-2 mb-3">{{ article.btnTitle }}</a>
    </div>
    <div class="col-md-5">
        <img class=" img-fluid mx-auto rounded" src="/uploads/{{ article.illustration }}"></img>
    </div>
    {% endif %}
</div>
<hr class="featurette-divider">
{% endfor %}

{% endblock %}
