<div class="row text-center justify-content-center flex-column">
	<a href="{{ path('app_product', { 'slug' : product.slug }) }}">
		<img src="/uploads/{{ product.illustration }}" alt="{{ product.name }}" class="smallCircle" >
	</a>
	<h4>{{ product.name }}</h4>
	<span class="text-center ">
		{% for category in product.category %}
			{{ category.name }}
			{% if not loop.last %},
			{% endif %}
		{% endfor %}
	</span>
	<span class="product-price font-weight-bold">
		{{ (product.price / 100)|number_format(2, ',', '.') }}
		€</span>

</div>
