{% extends 'base.html.twig' %}

{% block title %}Galerie{% endblock %}

{% block content %}

<h1 class="text-center p-5">GALERIES</h1>
<h2 class="text-center p-5">PHOTOS</h2>

<div class=" cont-gallery" id="gallery">

    <div class="gallery">
        <ul class="gallery-item">
            {% for image in images %}    
                <li>
                    <img src="/uploads/{{ image.image }}" class="mb-2" alt="Image Gallerie photo">
                </li>
            {% endfor %} 
        </ul>           
    </div>

    <div class="gallery">
        <ul class="gallery-item">
            {% for image in images %}    
                <li>
                    <img src="/uploads/{{ image.image2 }}" class="mb-2" alt="Image Gallerie photo">
                </li>
            {% endfor %} 
        </ul>       
    </div>

    <div class="gallery">
        <ul class="gallery-item">
            {% for image in images %}    
                <li>
                    <img src="/uploads/{{ image.image3 }}" class="mb-2" alt="Image Gallerie photo">
                </li>
            {% endfor %} 
        </ul>  
    </div>

</div>
	<h2 class="text-center m-5">VIDEOS</h2>


{% for movie in movies %}    
    <h2 class="fw-bold mt-5 text-center mb-4"> {{ movie.name }} </h2>
    <p class="fw-bold m-2 text-center"> {{ movie.description }} </p>
        <div class="video-container mb-5">
            <video src="./uploads/files/{{ movie.video }}" controls preload="metadata" class="video">
                <source src="./uploads/files/{{ movie.video }}" controls type="video/mp4"></source>
        </video>
    </div>
    <hr>
{% endfor %} 
{% endblock %}

