{% extends 'base.html.twig' %}

{% block title %}Me contacter - El cafexito {% endblock %}

{% block content %}

    <h1>Me contacter</h1>
    <p>N'hésitez pas a prendre contact avec moi , pour tous renseignements </p>

        {% if app.user %}
            <div class="mb-3">
                Vous etes connecté sous le compte de {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

    <div class="row mt-5 pt-5">
        <div class="col-md-8">{{ form(form) }}</div>
            <div class="col-md-4">
            <h2>El Cafexito</h2>
            <hr>
                <ul class="list-unstyled mb-0">
                    <li><img src="{{ asset('assets/images/adress40.png') }}" alt="code postale">
                        01700 NEYRON
                    </li> <br>

                    <li><img src="{{ asset('assets/images/phone40.png') }}" alt="téléphone">
                        07.67.22.11.84
                    </li> <br>

                    <li><img src="{{ asset('assets/images/mail40.png') }}" alt="adresse mail">
                        contact@elcafexito.fr
                    </li>
                    <li>
                    <img src="{{ asset('assets/images/carteVisite.jpg') }}" alt="adresse mail" class="img-fluid mt-4">
                    </li>
                </ul>
        </div>
    </div>

{% endblock %}
