{% extends 'base.html.twig' %}

{% block title %}El Cafexito - Produits
{% endblock %}

{% block content %}
<hr>
	<h1 class="text-center mt-5">Produits </h1>

	{% for product in products %}

			<hr class=" mt-5 mb-5 pt-1">
			<div class="card">
				<ul class="nav nav-tabs " id="myTab" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" id="home-{{ product.id }}-tab" data-toggle="tab" href="#home-{{ product.id }}" role="tab" aria-controls="home" aria-selected="true">Produit</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="profile-{{ product.id }}-tab" data-toggle="tab" href="#profile-{{ product.id }}" role="tab" aria-controls="profile" aria-selected="false">Photographies</a>
					</li>
		{% for comments in commentsByProduct %}
			{% if (comments[0] == product.id) %}
					{% if comments[1] is not empty %}
					<li class="nav-item">
						<a class="nav-link" id="contact-{{ product.id }}-tab" data-toggle="tab" href="#contact-{{ product.id }}" role="tab" aria-controls="contact" aria-selected="false">Avis client</a>
					</li>
						{% endif %}
			{% endif %}
		{% endfor %}

				</ul>
				<div class="tab-content" id="myTabContent">


					<div class="tab-pane fade show active" id="home-{{ product.id }}" role="tabpanel" aria-labelledby="home-tab">
						<div class="container mt-5 p-2">
							<div class="row">
								<h1 class="col-12 text-center">{{ product.name }}</h1>
								<div class="col-md-4">
									<a href="{{ path('app_product', { 'slug' : product.slug }) }}">
										<img src="/uploads/{{ product.illustration }}" alt="{{ product.name }}" class="img-thumbnail rounded" width="400" height="400" data-lightbox="imgGLR">
									</a>
								</div>
								<div class="col-md-8 font-weight-bold text-center d-flex m-auto " height="400">{{ product.description }}</div>

								<hr class="mt-2 mb-2">

								<div class="col-md-4 d-flex m-auto d-flex justify-content-center ">
									<div class="product-price font-weight-bold  ">
										{{ (product.price / 100)|number_format(2, ',', '.') }}
										€ </div>
								</div>
								<div class="col-md-8 text-center">
									<span class="product-subtitle ">{{ product.subtitle }}</span>
									<br>
									<a href="{{ path('app_product', { 'slug' : product.slug }) }}" class="btn btn-info text-center font-weight-bold mt-2">Laissez vous tenter</a>
								</div>
							</div>

						</div>
					</div>

					<div class="tab-pane fade" id="profile-{{ product.id }}" role="tabpanel" aria-labelledby="profile-tab">

						<div class="container cont-gallery row" id="#gallery">
							
								<div class="gallery-item">
									<img src="/uploads/{{ product.gallery }}" class="mb-2 zoom" alt="test">
								</div>
									
								<div class="gallery-item">
									<img src="/uploads/{{ product.gallery2 }}" class="mb-2 zoom" alt="test2">
								</div>
									
								<div class="gallery-item">
									<img src="/uploads/{{ product.gallery3 }}" class="mb-2 zoom" alt="test3">
								</div>
							
								<div class="gallery-item">
									<img src="/uploads/{{ product.gallery4 }}" class="mb-2 zoom" alt="test3">
								</div>
							
								<div class="gallery-item">
									<img src="/uploads/{{ product.gallery5 }}" class="mb-2 zoom" alt="test3">
								</div>
						
								<div class="gallery-item">
									<img src="/uploads/{{ product.gallery6 }}" class="mb-2 zoom" alt="test3">
								</div>
							
						</div>

						<div class="modal">
							<span class="close">&times;</span>
							<img class="modal-content" src="" alt="">
						</div>
					</div>
					{% include './comments/_comments_list.html.twig' %}

				</div>
			</div>

	{% endfor %}

{% endblock %}

