<div class="nav">
    <a href="{{ path('app_home') }}" class="nav-icon mr-5" aria-label="visit homepage" aria-current="{{ app.request.attributes.get('_route') == 'app_home' ? 'page' : null }}">
        <img src="{{ asset('assets/images/logo2.png') }}" class="mr-2" alt="logo cafexito">
        <span>El Cafexito</span>
    </a>
    <div class="main-navlinks">
        <button class="hamburger" type="button" aria-label="Toggle navigation" aria-expanded="false">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <div class="navlinks-container">
            <a href="{{ path('app_home') }}" aria-current="{{ app.request.attributes.get('_route') == 'app_home' ? 'page' : null }}">Accueil</a>
            <a href="{{ path('app_team') }}" aria-current="{{ app.request.attributes.get('_route') == 'app_team' ? 'page' : null }}">Qui sommes-nous?</a>
            <a href="{{ path('app_cauca') }}" aria-current="{{ app.request.attributes.get('_route') == 'app_cauca' ? 'page' : null }}">Région Cauca</a>
            <a href="{{ path('app_read_comments') }}" aria-current="{{ app.request.attributes.get('_route') == 'app_read_comments' ? 'page' : null }}">Nos produits</a>
            <a href="{{ path('app_advice') }}" aria-current="{{ app.request.attributes.get('_route') == 'app_advice' ? 'page' : null }}">Nos conseils</a>
            <a href="{{ path('app_gallery') }}" aria-current="{{ app.request.attributes.get('_route') == 'app_gallery' ? 'page' : null }}">Galerie</a>
            <a href="{{ path('app_products') }}" aria-current="{{ app.request.attributes.get('_route') == 'app_products' ? 'page' : null }}">Achetez notre café</a>
            <a href="{{ path('app_contact') }}" aria-current="{{ app.request.attributes.get('_route') == 'app_contact' ? 'page' : null }}">Contact</a>
        </div>
    </div>
    <div class="nav-authentification">
        <div class="sign-btns">
            {% if app.user %}
                <a href="{{ path('app_account') }}">Mon compte</a>
                |
                <a href="{{ path('app_logout') }}">Deconnexion</a>
            {% else %}
                <a href="{{ path('app_login') }}">Connexion</a>
                |
                <a href="{{ path('app_register') }}">Inscription</a>
            {% endif %}
            <a href="{{ path('app_cart') }}">
                <img src="{{ asset('assets/images/cart9.png') }}" class="w-50" alt="Mon panier">
            </a>
        </div>
    </div>
</div>

